.display{
    border:1px solid black;
    height : 270px;
    margin : 15px 5px;
    background-image : url("http://cfile21.uf.tistory.com/image/991BB13359B3582E0A7790");
    background-size : 175px 250px;
}