#top{
    font-size:8px;
    display : flex;
    justify-content: space-between;
    margin : 2.6px 3px;
    background-color : white;
}

.detail_name{
    text-align: center;
    margin-bottom: 2%;
    font-size:10px;
}

.detail_phone, .detail_facetime{
    border-bottom: 0.4px solid gray; 
    font-size:9px;
    padding-left: 5px;
    background-color : white;
}

.detail_menu{
    text-align: center;
    font-size:13px;
}

.detail_facetime{
    height:25px;
    padding-top : 5px;
}

.detail_facetime .icon-videocam, .detail_facetime .icon-phone{
    font-size: 12px;
    position: relative;
    top:3px;
}

.detail_facetime .icon-videocam{
    left:68px;
}

.detail_facetime .icon-phone{
    left:48px;
}

.detail_facetime .icon-videocam, .detail_facetime .icon-phone{
    background-color : #D5D5D5;
    color : #1266FF;
}

#detailtitle{
    background-color: rgb(240, 247, 247);
    margin-top:0;
    height:50px;
    background-color : white;
}

.icon-comment, .icon-phone, .icon-videocam{
    background-color : #1266FF;
    color : white;
    border-radius : 100%;
    margin : 15px;
}

#iconfont{
    font-size: 7px;
    margin-top : 6px;
    padding-bottom: 10px;
}

#font_cell{
    margin-right:30px;
}

#font_call{
    margin-right:30px;
}

.detail_memo, .detail_send, .detail_share{
    border-bottom: 0.4px solid gray;
    padding-left : 5px;
    font-size: 14px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color : white;
}

.detail_send, .detail_share{
    color : #1266FF;
    font-size : 9px;
}

.detail_memo{
    height:35px;
    font-size : 9px;
    color:#C6C6C6;
}

.detail_undermenu{
    border-top : 0.4px solid gray;
    font-size:11px;
    padding : 0px;
    position:relative;
    top:0px;
    background-color : white;
}

.undermenu_icon{
    font-size : 15px;
    color :#7E7E7E;
    margin-left:3px;
}

.icon-clock{
    margin-left : 14px;
}

.icon-users{
    margin-left : 13.6px;
    color : #1266FF;
}

.icon-th{
    margin-left : 11px;
}

.icon-paper-plane{
    margin-left : 13.5px;
}

.undermenu_font{
    font-size : 6px;
}

#under_favor, #under_recent, #under_phonebook, #under_keypad, #under_voice{
    margin-right : 5.5px;
}

#under_phonebook{
    color : #1266FF;
    margin-left:8px;
}

#under_voice{
    margin-left:5px;
}

#phone_num{
    color : #1266FF;
}